/* comments beginnen met een "/*" en eindigen met het sterretje eerst en de / als laatst * */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
  color: green;
}



body {
  background-image: url('https://cdn-images-1.medium.com/max/1400/1*lrLtuOpkP2Cng32gEjgtXQ.png');
  opacity: 0.6;
}


h1 {
    text-align: left;
    color: darkgreen;
}

h2 {
  text-align: left;
  color: rgb(255,0,0);
